* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply Roboto font to the entire website */
  body {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      background-image: url(/1.jpg); /* Replace 'background.jpg' with the path to your background image */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    
/* Header styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px; /* Increase the padding for better visibility */
  background-color: #000;
  color: #fff;
  position: relative; /* Add position relative to the header */
  z-index: 1000; /* Ensure the header stays on top */
}

.header a.logo-link {
  margin-right: 50px;
}

.header img.logo {
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.header nav {
  text-align: left;
}

.header nav a,
.header .user-buttons a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 18px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.header nav a:hover,
.header .user-buttons a:hover {
  background-color: #178b8f;
  transform: scale(1.1);
}

.header nav a:hover::before,
.header .user-buttons a:hover::before {
  background-color: #f30101;
}

.header .user-buttons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 15px;
  z-index: -1;
  transition: background-color 0.3s ease-in-out;
}

.header .login-button,
.header .signup-button {
  background-color: #000000;
}

.header .user-buttons {
  display: flex;
  align-items: center;
}

.header .user-buttons a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  border: none;
  font-size: 18px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.header img.logo {
  width: 90px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.header img.logo:hover {
  transform: scale(1.7); /* Increase the scale on hover */
}


/* Dropdown styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2c2424;
  min-width: 120px;
  z-index: 1;
  color: white;
  border-radius: 10px; /* Add border-radius to curve corners */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black; /* Change background color on hover to black */
  color: rgb(255, 255, 255); /* Change text color on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Adjustments for dropdown button */
.dropbtn {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 18px;
  position: relative;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #910ee2 !important;
}


.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(39, 39, 39, 0.4);
}
.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39,39,39, 0.6), transparent);
  z-index: 100;
}
.nav-logo p{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active{
  border-bottom: 2px solid #fff;
}
.nav-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
  margin-left: 15px;
}
.btn.white-btn{
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
  display: none;
}
.form-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.login-container{
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.register-container{
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.top span{
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a{
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header{
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}
.two-forms{
  display: flex;
  gap: 10px;
}
.input-field{
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}
.input-field:hover, .input-field:focus{
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
  color: #fff;
}
.input-box i{
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
.submit{
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.submit:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one{
  display: flex;
  gap: 5px;
}
.two label a{
  text-decoration: none;
  color: #fff;
}
.two label a:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 786px){
  .nav-button{
      display: none;
  }
  .nav-menu.responsive{
      top: 100px;
  }
  .nav-menu{
      position: absolute;
      top: -800px;
      display: flex;
      justify-content: center;
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 90vh;
      backdrop-filter: blur(20px);
      transition: .3s;
  }
  .nav-menu ul{
      flex-direction: column;
      text-align: center;
  }
  .nav-menu-btn{
      display: block;
  }
  .nav-menu-btn i{
      font-size: 25px;
      color: #fff;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: pointer;
      transition: .3s;
  }
  .nav-menu-btn i:hover{
      background: rgba(255, 255, 255, 0.15);
  }
}
@media only screen and (max-width: 540px) {
  .wrapper{
      min-height: 100vh;
  }
  .form-box{
      width: 100%;
      height: 500px;
  }
  .register-container, .login-container{
      width: 100%;
      padding: 0 20px;
  }
  .register-container .two-forms{
      flex-direction: column;
      gap: 0;
  }
}